<main class="container">
  <section class="content">
    <h1>{{ appName }}</h1>

    <p>
      Aplicacio per consultar informacio relacionada amb els entrenaments de forca.
    </p>

    <div class="project-card">
      <h2>Dades del projecte</h2>
      <ul>
        <li><strong>Aplicacio:</strong>{{ appName }}</li>
        <li><strong>Framework:</strong>Angular</li>
        <li><strong>Estils:</strong>SCSS</li>
        <li><strong>Projecte:</strong>IOC</li>
      </ul>
    </div>

    <aside>
      Aplicacio creada per David Manjon.
    </aside>

    <p>Projecte base llest</p>
    
  </section>
</main>
<router-outlet />